$first-color: #9356DC;
$second-color:#FF79DA;
$third-color:#99E2D0;
$button-color: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgb(255, 121, 218, 1)
100%);
$bg-color:#d2d2d2;
$bg-color2:#eaeaea;



