@import "./utils/variables.scss";
@import "./utils/mixing.scss";
@import "./base/base.scss";


h1 {
    color:$first-color;
    background: black;
    font-family: $font-logo;
}

.btn-command{

    @include btn()
}