$font-logo:'Shrikhand', cursive;
$font-text:'Roboto', sans-serif;


$font-map:(
logo:30px,
 title:24px,
 text:16px, 
 title-menu:18px,
 text-menu:17px,
 sub-text:15px,
 );

 $weight-map:(

light:300,
normal:400,
bold:700,




 )